{% extends 'base.html' %}

{% load static %}

{% block head %}
	<link rel="stylesheet" href={% static "home/page.css" %}>
	<title>Aduuna.com | Home</title>
{% endblock %}

{% block content %}
	<div class="jumbotron mybrand bg-dark">
		<h1 class="mybrand text-center">Aduuna.<small>com</small></h1>
		<p class="text-center">Keep Calm And CODE</p>
		<div class="text-center">
			<span>
				<button class="btn btn-info"><i class="fa fa-twitter"></i> Twitter</button>
			</span>
			<span>
				<button class="btn btn-primary"><i class="fa fa-facebook-square"></i> Facebook</button>
			</span>
			<span>
				<button class="btn btn-dark btn-darkish"><i class="fa fa-github"></i> Github</button>
			</span>
		</div>
	  </div>
	  
	  <div class="page container">
		  <div class="row">
			<div class="col-sm-3"><img src="./Vincent.jpg"></div>
			<div class="col-sm-9"></div>
		  </div>
	  
	  </div>
 {% endblock %}
